.character .content-container {
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.character__title {
  padding-top: 72px;
  text-align: center;

  font-family: "MaruBuri";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;

  letter-spacing: -0.015em;

  color: #212529;
}
.character__button--closing {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 1484px;
  top: 70px;
  cursor: pointer;
}
.character__headtext {
  margin-top: 70px;
  text-align: center;
  font-family: "MaruBuri";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;

  color: #212529;
}
.character__content-wrapper {
  margin-top: 29px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.character__card-wrapper {
  flex-direction: column;
  width: 460px;
  height: 490px;
  background: #ffffff;
  border: 1px solid #dfdede;
  border-radius: 20px;
  margin-top: 41px;

  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.character__card-wrapper .character__card-img {
  margin-top: 25px;
  width: 401.03px;
  height: 220px;
  margin-left: 29.5px;
}
.character__card-wrapper:nth-child(11) .character__card-img {
  -o-object-fit: contain;
  object-fit: contain;
  background-color: #e5e5e5;
}

.character__card-wrapper .character__card-borderline {
  background-image: linear-gradient(
    to right,
    #ff2068 50%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 16px 1px;
  background-repeat: repeat-x;
  padding-bottom: 14px;
  margin-bottom: 11px;
  width: 200.51px;
  margin-left: 29.5px;
}
.character__card-wrapper .character__card-title {
  font-family: "MaruBuri";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  margin-top: 15px;
  /* identical to box height, or 180% */

  letter-spacing: -0.015em;

  color: #3c3243;
  margin-left: 29.5px;
}
.character__card-wrapper .character__card-maintext {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  letter-spacing: -0.015em;

  color: #3c3243;
  margin-left: 29.5px;
}
.background-character {
  z-index: 1;
  position: absolute;
}
.character__background-character-gongong {
  width: 250px;
  height: 320px;
  left: 19px;
  top: 579px;

  background: url(./../images/character/gongong.png);
}
.character__background-character-bobo {
  width: 134px;
  height: 130px;
  left: 1669px;
  top: 472px;

  background: url(./../images/character/bobo.png);
}
.character__background-character-doha {
  width: 300px;
  height: 412.25px;
  background-size: contain;
  background-position: center;
  top: 724px;
  left: 1600px;

  background-image: url(./../images/character/doha.png);
}
.character__background-character-hongmang {
  width: 300px;
  height: 345.3px;
  left: -6px;
  top: 1191px;
  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/hongmang.png);
}
.character__background-character-yeonyam {
  width: 300px;
  height: 336px;
  left: 1600px;
  top: 1808px;

  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/yeonyam.png);
}
.character__background-character-duck {
  width: 300px;
  height: 308.39px;
  left: -8px;
  top: 2340px;

  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/duck.png);
}
.character__background-character-harinyang {
  width: 300px;
  height: 308px;
  left: 7px;
  top: 2929px;

  background: url(./../images/character/harinyang.png);
}
.character__background-character-sangsange {
  width: 300px;
  height: 312.37px;
  left: 1600px;
  top: 2877px;

  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/sangsange.png);
}

.character__background-character-ahri {
  width: 300px;
  height: 385px;
  left: 325px;
  top: 3685px;

  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/ahri.png);
}
.character__background-character-sangsang {
  width: 300px;
  height: 459.47px;
  left: 1295px;
  top: 3648px;
  background-size: contain;
  background-position: center;
  background-image: url(./../images/character/sangsang.png);
}
