.mapo-creator .content-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mapo-creator__title {
	padding-top: 72px;
	text-align: center;

	font-family: 'MaruBuri';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 43px;

	letter-spacing: -0.015em;

	color: #212529;
}
.mapo-creator__button--closing {
	position: absolute;
	width: 48px;
	height: 48px;
	right: 20vw;
	top: 70px;
	cursor: pointer;
}
.mapo-creator__headtext {
	margin-top: 70px;
	text-align: center;
	font-family: 'MaruBuri';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	letter-spacing: -0.015em;

	color: #212529;
}
.mapo-creator__content-wrapper {
	margin-top: 29px;
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 70px;
}
.mapo-creator__card-wrapper {
	flex-direction: column;
	width: 460px;
	height: 490px;
	background: #ffffff;
	border: 1px solid #dfdede;
	border-radius: 20px;
	margin-top: 41px;

	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mapo-creator__card-wrapper .mapo-creator__card-video {
	margin-top: 25px;
	width: 401.03px;
	height: 225.579375px;
	margin-left: 29.5px;
}
.mapo-creator__card-wrapper:nth-child(11) .mapo-creator__card-img {
	-o-object-fit: contain;
	object-fit: contain;
	background-color: #e5e5e5;
}

.mapo-creator__card-wrapper .mapo-creator__card-borderline {
	background-image: linear-gradient(
		to right,
		#ff2068 50%,
		rgba(255, 255, 255, 0) 0%
	);
	background-position: bottom;
	background-size: 16px 1px;
	background-repeat: repeat-x;
	padding-bottom: 14px;
	margin-bottom: 11px;
	width: 200.51px;
	margin-left: 29px;
}
.mapo-creator__card-wrapper .mapo-creator__card-title {
	font-family: 'MaruBuri';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 36px;
	margin-top: 15px;
	/* identical to box height, or 180% */

	letter-spacing: -0.015em;

	color: #3c3243;
	margin-left: 29px;
}
.mapo-creator__card-wrapper .mapo-creator__card-maintext {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */

	letter-spacing: -0.015em;

	color: #3c3243;
	margin-left: 29px;
}
